


<main class="song_table">
<header class="songs-header">
    <span></span>
    <a href="songs.html?sort=filename">Filename</a>
    <a href="songs.html?sort=duration">Duration (MM:SS)</a>
    <a href="songs.html?sort=size">Size (MB)</a>
    <a href="songs.html?sort=title">Title</a>
    <a href="songs.html?sort=album">Album</a>
    <a href="songs.html?sort=artist">Artist</a>
    <a href="songs.html?sort=genre">Genre</a>
    <a href="songs.html?sort=desc">Description</a>
    <a href="songs.html?sort=quality">Quality</a>
    <a href="songs.html?sort=favourite">Fav</a>
</header>

<% function add_song() {

let add = ``;
result.forEach((song) => {
add += `<article class="song" id="${song._id}" src="${song.src}">
<a class="playbtns" id="${song.src}" rel="play" href="#songs" target="player">Play</a>
<span class="filename">${song.filename}</span>
<span class="duration">${song.duration}</span>
<span class="size">${song.size}</span>
<span class="title">${song.title}</span>
<span class="album">${song.album}</span>
<span class="artist">${song.artist}</span>
<span class="genre">${song.genre}</span>
<span class="desc"></span>
<span><progress class="quality" min="0" max="10" value="3"></progress></span>
<button data-action="fav" id="fav_61460e91efd0d795bff2e3d5" data-fav="true">&#9733;</button>
<button class="delete-button" data-action="delete" src="${song.src}" id="${song._id}">${song.src}</button>
<a class="edit-button" rel="edit" href="/songs/${song._id}/edit" >EDIT</a>
<button class="append-button" data-action="append" id="${song._id}">&#x2b;</button> <!-- BITNO -->
</article>`
})

return add;

} %>
<%- add_song() %>
</main>