<aside class="sidebar" id="leftSidebar">
    <form action="" method="GET" class="search" id="filterSports">
        <input type="text" name="search" placeholder="Search for an event...">
    </form>

    <section class="title">
        <h1>Members:</h1>
    </section>

    <% if (users.length === 0) { %>
    <section class="section">
        There are not user.
    </section>
    <% }  else {
       users.forEach((user) => { %>
    
    <section class="section">
            <br><%= user.username %></br> 
    </section>

    <% })} %>

</aside>