<header class="page-header" id="page-header">
    <span></span>

    <h1>DreamTeam</h1>

    <% if(user == undefined ){ %>
        <section class="login">
            <a href="login">Login</a> <br>
            or <br>
            <a href="signin">Sign in!</a>
        </section>
    <% } else {%>
        <section class="login">
            Hi, <a href="/user/<%=user._id%>"><%= user.username%></a>!
        </section>

    <%}%>
</header>