<head>
    <title>DreamTeam</title>
    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/homepage.css" rel="stylesheet" />
    <link href="/css/sport_catalog.css" rel="stylesheet" />
    <link href="/css/sport_catalog_user.css" rel="stylesheet" />
    <link href="/css/upload.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="author" content="Francesco Casarella">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
