<nav id="navigation-bar">
    <a href="/" id="homepage">Homepage</a>
    <a href="/sports" id="sport_list">Sports List</a>
    <a href="/upload" id="create_event">Create an event</a>
    <a href="/about" id="about_us">About Us</a>
</nav>