/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Francesco Casarella
*/
@media screen /*desktop*/
  and (min-device-width: 768px){
    /* CONTENT FIRST PAGE SECTION */
    main {
    font-size: 20px;
    /* background: #F7F7E5; */
    }

    /* TOP TEN SONG SECTION */
    main section.title{
      text-align: left;
      padding: 2em;
    }
    main a.song-l {
      background: #EDEDDD;
      display: grid;
      align-items: center;
      grid-template-columns: 5fr 2fr;
      transition: 250ms;
      text-decoration: none;
      color: black;
    }
    main a.song-l div {
      padding-left: 2em;
      padding-bottom: 2em;
      transition: 250ms;
    }
    main a.song-l audio {
      grid-column: 2;
      padding-right: 2em;
      opacity: 30%;
      transition: 250ms;
    }
    main a.song-l:hover {
      background: #FFDA5F;
    }
    main a.song-l:hover div {
      font-size: 25px;
    }
    main a.song-l:hover audio {
      opacity: 100%;
    }

    main a.song-r {
      display: grid;
      align-items: center;
      text-align: right;
      grid-template-columns: 2fr 5fr;
      transition: 250ms;
      text-decoration: none;
      color: black;
    }
    main a.song-r div {
      padding-right: 2em;
      padding-bottom: 2em;
      transition: 250ms;
    }
    main a.song-r audio {
      grid-column: 1;
      padding-left: 2em;
      opacity: 30%;
      transition: 250ms;
    }
    main a.song-r:hover {
      background: #FFDA5F;
    }
    main a.song-r:hover div {
      font-size: 25px;
    }
    main a.song-r:hover audio {
      opacity: 100%;
    }
    /* TOP TEN */

    /* ABOUT MAIN */
    p.about {
      padding-top: 1.5em;
    }

    /* ADVICE SECTION */
    main section.advices {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      align-items: center;
      text-align: center;
    }
    main section.advices a {
      text-decoration: none;
      color: white;
      padding-top: 20px;
      padding-bottom: 20px;
      transition: 250ms;
    }
    main section.advices a.odd {
      background: #373737 ;
      display: grid;
      text-align: center;
      align-items: center;
      grid-template-rows: 2fr 3fr 2fr;
    }
    main section.advices a.even {
      background: #575757 ;
      display: grid;
      text-align: center;
      align-items: center;
      grid-template-rows: 2fr 3fr 2fr;
    }
    main section.advices img {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      transition: 250ms;
      border: 2px solid black;
      grid-row: 2;
    }
    main section.advices a:hover {
      background: #FFDA5F;
      color: black;
    }
    main section.advices a:hover img {
      border: 5px solid black;
    }

    /* PROMO SECTION */
    main section.promo-title{
      text-align: center;
      font-size: 70px;
      padding: auto;
    }
    main section.promo{
      text-align: center;
      font-size: 25px;
      padding-left: 0.5em;
      padding-bottom: 0.5em;
    }
    /* PROMO SECTION */


}

@media screen /*mobile*/
 and (max-device-width: 768px)
 and (orientation: portrait) {

   /* HOMEPAGE CONTENT */
   main {
   font-size: 15px;
   background: #F7F7E5;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   }
   main a.song-l {
     background: #EDEDDD;
     text-align: center;
     display: grid;
     align-items: center;
     grid-template-rows: 2fr 1fr;
     text-decoration: none;
     color: black;
   }
   main a.song-l  {
     font-size: 15px;
   }
   main a.song-l audio{
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
   }
   main a.song-r  {
     font-size: 15px;
   }
   main a.song-r {
     text-align: center;
     display: grid;
     align-items: center;
     grid-template-rows: 2fr 1fr;
     text-decoration: none;
     color: black;
   }
   main a.song-r audio{
     grid-row: 2;
     margin-left: auto;
     margin-right: auto;
     margin-top: 10px;
     margin-bottom: 10px;
   }

   /* ADVICE SECTION */
   main section.advices {
     display: flex;
     flex-direction: column;
     text-align: center;
     align-items: center;
   }
   main section.advices img {
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 50%;
     width: 130px;
     height: 130px;
     border: 2px solid black;
   }
   main section.advices a {
     width: 100%;
     font-size: 25px;
     padding-top: 10px;
     padding-bottom: 10px;
     color: white;
     text-decoration: none;
   }
   main a.odd {
     background: #373737;
     display: grid;
     text-align: center;
     align-items: center;
     grid-template-rows: 2fr 3fr 1fr;
   }
   main a.even {
     background: #575757;
     display: grid;
     text-align: center;
     align-items: center;
     grid-template-rows: 2fr 3fr 1fr;
   }
   /* PROMO SECTION */
   section.promo-title{
     padding: 0.5;
     text-align: center;
     font-size: 20px;
   }
   section.promo{
     text-align: center;
   }

}
