<main id="about">
    <section class="title">
        <h1>About Us</h1>
        <p class="about">
            Placeholder is the result of a university project by <b>Francesco Casarella</b>, <b>Alessandro
                Cravioglio</b>,
            <b>Daniela Gjorjieva</b>, <b>Andrea Prato</b> and <b>Samuel Corecco</b>.<br>
            The project consist in develop a sport event organizer web-app, using all the resources that
            we learned in Software Atelier 3. <br>
            This web-app consents you to create and edit your sport event. People can join and talk in the chat.
        </p>
    </section>

    <!-- ADVICE SECTION -->
    <section class="title">
        <h1>Popular Activities: </h1>
    </section>

    <section class="advices">
        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>
    </section>
</main>