<main id="homepage">

    <section class="homepage_title">
        <h1>Welcome to DreamTeam!</h1>
    </section>

    <!-- ADVICE SECTION -->
    <section class="title">
        <h1>Popular Activities: </h1>
    </section>

    <section class="advices">
        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>
    </section>
    <br>
    
</main>