<!-- this ejs doesn't need any input -->

<main id="about">
    <section class="title">
        <h1>About Us</h1>
        <p class="about">
            DreamTeam is the result of a university project by <b>Francesco Casarella</b>, <b>Alessandro Cravioglio</b>,
            <b>Daniela Gjorjieva</b>, <b>Andrea Prato</b> and <b>Samuel Corecco</b>.<br>
            The project consist in develop a sport event organizer web-app, using all the resources that
            we learned in Software Atelier 3. <br>
            This web-app consents you to create and edit your sport event. People can join and talk in the chat.
        </p>
    </section>

    <!-- ADVICE SECTION -->
    <section class="title">
        <h1>Our Team: </h1>
    </section>

    <section class="advices">
        <a class="odd" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
            <section>
                Team Leader <br>
                HTML/CSS/EJS
            </section>
            <img src="images/img_avatar.png" alt="Francesco Casarella Photo">
            <section>
                Francesco <br>
                Casarella
            </section>
        </a>

        <a class="even" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
            <section>
                HTML/CSS
            </section>
            <img src="images/img_avatar.png" alt="Daniela Gjorgjieva Photo">
            <section>
                Daniela <br>
                Gjorgjieva
            </section>
        </a>

        <a class="odd" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
            <section>
                Repo admin <br>
                ROUTES/DB
            </section>
            <img src="images/img_avatar.png" alt="Alessandro Cravioglio Photo">
            <section>
                Alessandro <br>
                Cravioglio
            </section>
        </a>

        <a class="even" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="blank">
            <section>
                SOCKET/FETCH/ <br> EJS
            </section>
            <img src="images/img_avatar.png" alt="Andrea Prato Photo">
            <section>
                Andrea <br>
                Prato
            </section>
        </a>

        <a class="odd">
            <section>
                SOCKET/FETCH/ <br> EJS
            </section>
            <img src="images/img_avatar.png" alt="Samuel Corecco Photo">
            <section>
                Samuel <br>
                Corecco
            </section>
        </a>
    </section>
</main>