<main id="login">
    <section class="title">
        <h1>Log in your Account!</h1>
    </section>
    
    <form class="upload-section" id="login_form">

        <label for="username"> Username </label>
        <input type="text" id="username" name="username" placeholder="" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <button type="submit" name="submit">Log In</button>
    </form>

    <section class="formdesc">
        You don't have an account? <a href="/signin" id="signin">Sign in!</a>
        <!-- onclick="addUser()" -->
    </section>

</main>