<main id="signin">
    <section class="title">
        <h1>Create your Account!</h1>
    </section>
    
    <form class="upload-section" method="POST" encType="multipart/form-data" id="submit_user">

        <label for="username"> Username </label>
        <input type="text" id="username" name="username" placeholder="" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <label for="password_check">Confirm Password</label>
        <input type="password" id="pass" name="password_check" minlength="8" required>

        <button type="submit" name="submit">Sign In</button>
    </form>

    <section class="formdesc">
        You already have an account? <a href="/login" id="login">Login!</a>
        <!-- onclick="addUser()" -->
    </section>
</main>