<main id="signin">
    <section class="title">
        <h1>Create your Account!</h1>
    </section>
    
    <form class="upload-section" method="POST" encType="multipart/form-data" id="submit_user">

        <label for="username"> Username </label>
        <input type="text" id="username" name="username" placeholder="" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength="8" required>

        <label for="password_check">Confirm Password</label>
        <input type="password" id="pass" name="password_check" minlength="8" required>

        <button type="submit" name="submit">Sign In</button>
    </form>


    <!-- ADVICE SECTION -->
    <section class="title">
        <h1>Popular Activities: </h1>
    </section>

    <section class="advices">
        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="even">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>

        <a href="" class="odd">
            <section>
                placeholder
            </section>
            <img src="images/img_avatar.png" alt="Linking Park photo">
            <section>
                placeholder
            </section>
        </a>
    </section>
    <br>
</main>