/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Francesco Casarella
*/
@media screen

/*desktop*/
and (min-device-width: 768px) {

  section.head{
    padding: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
  }

  section.title{
    grid-column: 1;
  }

  .head section.title h1{
    font-size: 40px;
  }

  a[rel="edit"] {
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: -9999px;
    background-image: url("../images/edit.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0%; */
    transition: 250ms;
  }

  a[rel="delete"] {
    padding-top: 20px;
    padding-bottom: 20px;
    text-indent: -9999px;
    background-image: url("../images/garbage-can.png");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0%; */
    transition: 250ms;
  }
  /* .fade-element{
      position: fixed;
      width: 100%;
      height: 100%;
   
    
      background-image: url("../images/eee.webp");
      background-position: center;
    
     
      animation: fade-animation ease 5s forwards;
      animation-iteration-count: 1;
    }
    @keyframes fade-animation {
      0% { opacity: 1;}
      100% { opacity: 0;}
    } */

  /* main {
    font-size: 20px;
    /* background-image: url("../images/perfect.webp");
    color: rgb(0, 0, 0);
  } */

  /* main section.formdesc {
    padding-left: 2em;
    padding-right: 2em;
  } */

  /* main section.formdesc a {
    color: black;
  }

  main section.title {
    text-align: left;
    padding: 2em;
  } */


  /* form label {
    text-align: right;
    font-size: 25px;
  }

  form input {
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    transition: 250ms;
  }

  .upload-section input[type="text"]:focus {
    width: 250px;
    border-width: medium;
  }

  .upload-section input[type="number"]:focus {
    width: 250px;
    border-width: medium;
  }

  form select {
    width: 100px;
    font-size: 20px;
    background: white;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    transition: 250ms;
  }

  form select:focus {
    border: 5px solid black;
    border-width: medium;
  }

  form input[type="file"] {
    width: 400px;
    border-radius: 0px;
  }

  form input[type=range] {
    width: 300px;
    border-radius: 5px;
  }

  input.larger {
    margin-top: auto;
    margin-bottom: auto;
    width: 25px;
    height: 25px;
  }

  form button {
    width: 150px;
    grid-column: 2;
    font-size: 25px;
    border-radius: 5px;
    border-width: thin;
    font-family: 'Quicksand', sans-serif;
    background: #E9E9E9;
  }

  form button:hover {
    border-radius: 5px;
    border-width: thin;
    background: #b3b3b3;
  }

  form button:hover:active {
    background: #E9E9E9;
  }

  input[type="checkbox"] {
    margin: 0;
    padding: 0;
    width: 30px;
    opacity: 0%;
  }

  label.checkbox {
    font-size: 10px;
    justify-content: center;
    position: relative;
  }

  label.checkbox::before {
    content: "";
    background: url("../images/heart.png");
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -28px;
    transition: 250ms;
  }

  label.checkbox::after {
    content: "";
    background: url("../images/like.png");
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -28px;
    opacity: 0%;
  }

  input[type="checkbox"]:checked+label.checkbox::after {
    opacity: 100%
  }

  form input[type="file"] {
    border-radius: 0px;
    font-family: 'Quicksand', sans-serif;
    border: 0px;
  } */

  /* form textarea {
    width: 500px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    resize: none;
    border-radius: 5px;
    transition: 250ms;
  }

  form textarea:focus {
    width: 580px;
    border-width: medium;
  } */

  /* CONTENT UPLOAD PAGE */

  /* ADVICE SECTION */
  /* main section.advices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
  }

  main section.advices a {
    text-decoration: none;
    color: white;
    transition: 250ms;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 250ms;
  } */

  /* main section.advices a.odd {
    background: #373737;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 2fr 3fr 2fr;
  }

  main section.advices a.even {
    background: #575757;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 2fr 3fr 2fr;
  }

  main section.advices img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: 250ms;
    border: 2px solid black;
    grid-row: 2;
  }

  main section.advices a:hover {
    background: #FFDA5F;
    color: black;
  }

  main section.advices a:hover img {
    border: 5px solid black;
  }

  /* PROMO SECTION */
  /* main section.promo-title {
    text-align: center;
    font-size: 70px;
    padding: auto;
  }

  main section.promo {
    text-align: center;
    font-size: 25px;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  } */

  /* PROMO SECTION */

  /* .button_join {
    width: 100px;
    float: right;
    text-decoration: none;
    height: 40px;
    background: dodgerblue;
    margin: 10px;
    color: white;


    /* width: 100px;
    font-size: 18px;
    border: none;
    outline: none;


    cursor: pointer;
  } */





  /* .button_join:hover {
    background-color: blue;
    transition: 0.2s;
  } */

  /* .container_photo {
    display: flex;
    align-items: center;
    justify-content: center
  } */

  /* img {
    max-width: 100%
  } */

  /* main a:hover {
    background-color: yellow;
  } */

  /* .image {
    margin-top: 25px;
    vertical-align: middle;
    float: left;
    width: 260px;
    height: 200px;
    object-fit: cover;
    max-width: 90%;
    min-width: 200px;
    transition: 250ms;
    flex-basis: 40%
  } */

  /* .text {
    font-size: 20px;
    padding-left: 20px;
  } */

  /* .zoom {

    transition: transform .2s;
    Animation

    margin: 0 auto;
  } */

  /* .zoom:hover {
    transform: scale(1.5);
    (150% zoom - Note: if the zoom is too large, it will go outside of the viewport)
  } */


  /* Chat containers */
  /* .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  /* Darker chat container 
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  } */

  /* Clear floats
  .container::after {
    content: "";
    clear: both;
    display: table;
  }

  Style images 
  .container {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  /* Style the right image 
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
  } */

  /* Style time text */
  

  /* Style time text */
  p.text-left {
    text-align: left;
    color: #999;
  }

  p.text-right {
    text-align: right;
    color: #aaa;
    margin-left: auto;
    /* color: red; */
  }
  
  div.container_chat {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
    box-sizing: border-box;
    /* align-self: center; */
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    /* background-color: dodgerblue; */
    background-color: dodgerblue;
  }

  div.header h1 {
    color: white;
    padding: 15px;
  }

  div.body {
    flex: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;
    overflow-y: auto;

  }

  p.message {
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  p.user_message {
    margin-left: auto;
    background-color: white;
    color: black;

  }

  div.footer form {
    display: flex;
  }

  form.chat input {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 20px;
  }

  form.chat button {
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
  }

  
  form.chat button:hover {
    background-color: blue;
    transition: 0.2s;
  }

}