/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Bojan Lazarevski
*/

@media screen and (max-width: 768px) {

    #player aside.volume {
        
        /* Positioning */
        content-visibility: hidden;

        /* Styling */
        border: hidden;
    }

    #player > aside {

        /* Positioning */
        content-visibility: hidden;

    }

    #player {

        /* Positioning */
        display: grid;
        grid-template-columns: 1fr 0fr;
    
        /* Added for design purpose */
        grid-row-gap: 10px;
        margin-top: 10vh;
    }

    #player header p{

        /* Positioning */
        text-align: center;

        /* Styling */
        color: white;
        font-family: custom-font;
        
    }
}