/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Bojan Lazarevski
*/

@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        margin: 0;
        padding: 0;
    }
    
    /*
        Mobile Layout
    */
    body {
    
        /* Positioning */
        margin: 0;
        padding: 0;
    
        display: flex;
        flex-direction: column;

    }
    
    nav {

        /* Positioning */
        flex: 0;

        /* Styling */
        border-bottom: 1px solid white;

    }

    .main-page-list-target li a {

        /* Styling */
        font-size: 15;

    }

    .main-page {

        /* Positioning */
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

    }

    .all-content {

        /* Positioning */
        display: flex;
        flex-direction: column;

    }

    .main-page-list-target #navbar {

        /* Positioning */
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }

    .main-page-list-target #artistbar {

        /* Positioning */
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }

    li {

        /* Positioning */
        display: inline-block;

    }
    


}

/* One extra viewport for 'middle' screen */
@media screen and (max-width: 1200px) {
    .main-page {

        /* Positioning */
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;

    }
}