<main>
    <div class="main-page">
        <div id="pic1" class="photo-in-grid">
            <img src="./images/ed.png" alt="">
        </div>
        <div id="pic2" class="photo-in-grid">
            <img src="./images/weeknd.png" alt="">
        </div>
        <div id="pic3" class="photo-in-grid">
            <img src="./images/sleepy.png" alt="">
        </div>
        <div id="pic4" class="photo-in-grid">
            <img src="./images/silksonic.png" alt="">
        </div>
        <div id="pic5" class="photo-in-grid">
            <img src="./images/meetmeatourspot.png" alt="">
        </div>
        <div id="pic6" class="photo-in-grid">
            <img src="./images/leavebeforeyouloveme.png" alt="">
        </div>
        <div id="pic7" class="photo-in-grid">
            <img src="./images/taiverdes.png" alt="">
        </div>
        <div id="pic8" class="photo-in-grid">
            <img src="./images/beyonce.png" alt="">
        </div>
<div id="pic9" class="photo-in-grid">
            <img src="./images/butter.png" alt="">
        </div>
        <div id="pic10" class="photo-in-grid">
            <img src="./images/heatwave.png" alt="">
        </div>
    </div>
    <audio controls>
        <source src="../music/one.mp3" type="audio/mpeg">
    </audio>
    <div id="extra-content">
        <% let time = total_play_time(); %>
        <% let top_song = best_on_charts(); %>
        <% function total_play_time() {
            return "00:00";
        } %>
        <% function best_on_charts() {
            let top_song

            if(result.length > 0) {
                top_song = result.reduce((a,b)=>{return a.quality > b.quality? a:b},result[0])
                return top_song.title
            }
            
        } %>

        <span>Number of songs: <%- result.length %> </span>
        <span>Total playtime: <%- time %></span>
        <span>Best on Charts: <%- top_song %></span>
    </div>
</main>
