
            <main>
                <div id="player">
                    <section class="play buttons">
                        <button id="play"></button>
                        <button id="pause"></button>
                    </section>
                </div>
            </main>