/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Bojan Lazarevski
*/

@media screen and (max-width: 768px) {

    /* Centering adjustments */
    body > div > main > h1 {
        padding: 1vh;
        font-size: 20;
    }

    .form-div {
        width: 65%;
    }
}