/*
    Web Atelier 2021
    Exercise 1
    HTML and CSS

    Stylesheet

    Author: Bojan Lazarevski
*/

.desc, .size, .filename {
    /* Hidden classes as non important */
    display: none;
}

.song_table {

    /* Positioning */
    display: grid;
    grid-auto-rows: 1fr;

    /* Styling */
    font-family: monospace;
    color:white;
    text-align: center;
}
.song {

    /* Positioning */
    display: grid;
    grid-template-columns: 1fr minmax(200px, 250px) minmax(50px, 150px)
    minmax(50px, 70px) minmax(200px, 250px) 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    /* Styling */
    background-color: black;
    border:1px solid white;

}

/* Extra buttons and links on hover effect */
.song a[rel~="download"], .song a[rel~="edit"],
.song button[data-action~="fav"], .song button[data-action~="delete"],
header a[href*="size"], header a[href*="filename"],
header a[href*="desc"] {

    display: none;

}

.song:hover a[rel~="download"], .song:hover a[rel~="edit"],
.song:hover button[data-action~="fav"], .song:hover button[data-action~="delete"] {

    /* Positioning */
    display: grid;

}

.song:hover {

    /* Styling */
    background-color: rgb(34, 34, 34);

    /* Transitioning */
    transition: 0.25s;

}
/* --- */

.song a, .song span {

    /* Adjustment */
    padding: 15px;

}

.song a, .songs-header a {
    text-decoration: none;
    color: white;
}


.songs-header {

    /* Positioning */
    display: grid;
    grid-template-columns: 1fr minmax(200px, 250px) minmax(50px, 150px)
    minmax(50px, 70px) minmax(200px, 250px) 1fr 1fr 4fr;
    grid-template-rows: 1fr;

    /* Styling */
    font-size: 18px;
    font-weight: bold;

}

progress, button {
    background-color: green;
}

a[rel~="play"] {

    /* Styling */
    background-image: url(../images/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    color: transparent;
    filter:invert(100%);
}

/* Currently Playing Song Styling */
.playing {
    animation: currently-playing-song 2.5s infinite;
}

@keyframes currently-playing-song {
    0% {
        background-color: black;
    }
    50% {
        background-color: rgb(128, 126, 126);
    }
    100% {
        background-color: black;
    }
}

/* ORDERINGS */
.song a[rel~="play"], header > span {
    order: 1;
}
.song .title, header a[href*="title"] {
    order: 2;
}
.song .artist, header a[href*="artist"] {
    order: 3;
}
.song .duration, header a[href*="duration"] {
    order: 4;
}
.song .album, header a[href*="album"] {
    order: 5;
}
.song .genre, header a[href*="genre"] {
    order: 6;
}
/* TODO: Better selector ? */
.song > span:nth-child(10), header a[href*="quality"] {
    order: 7;
}
.song button[data-action~="fav"], header a[href*="favourite"] {
    order: 8;
}
.song button[data-action~="delete"] {
    order: 9;
}
.song a[rel~="download"] {
    order: 10;
}
.song a[rel~="edit"] {
    order: 11;
}
