<aside class="sidebar">
    <form action="" method="GET" class="search">
        <input type="text" name="search" placeholder="Search for an event...">
    </form>

    <section class="title">
        Instructors
    </section>

    <a href="">
        <section class="section-left">
            <img src="images/img_avatar.png" alt="first musician">
            <p class="Artist-Name">
                Placeholder <br>
                <cite> "...something something something..."</cite>
            </p>
        </section>
    </a>

    <a href="">
        <section class="section-right">
            <p class="Artist-Name">
                Placeholder <br>
                <cite> "...something something something..."</cite>
            </p>
            <img src="images/img_avatar.png" alt="second musician">
        </section>
    </a>

    <a href="">
        <section class="section-left">
            <img src="images/img_avatar.png" alt="first musician">
            <p class="Artist-Name">
                Placeholder <br>
                <cite> "...something something something..."</cite>
            </p>
        </section>

        <a href="">
            <section class="section-right">
                <p class="Artist-Name">
                    Placeholder<br>
                    <cite> "...something something something..."</cite>
                </p>
                <img src="images/img_avatar.png" alt="second musician">
            </section>
        </a>

        <a href="">
            <section class="section-left">
                <img src="images/img_avatar.png" alt="first musician">
                <p class="Artist-Name">
                    Placeholder <br>
                    <cite> "...something something something..."</cite>
                </p>
            </section>
        </a>
</aside>